<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">


	<profiles>

	<profile>
			<id>MDIXPublic</id>
			<properties>
				<tomcat.deploy.url>http://transform.mdixinc.net:8080/manager/text</tomcat.deploy.url>
				<tomcat.deploy.username>remoteadmin</tomcat.deploy.username>
				<tomcat.deploy.password>1success1</tomcat.deploy.password>
				<postgresql.user>merrylord</postgresql.user>
				<postgresql.password>y5FwAJdkgnjRj5qkUkTYxw==</postgresql.password>
			</properties>
		</profile>


		<profile>
			<id>MDIXDevReferral</id>
			<properties>
				<tomcat.deploy.url>http://54.224.84.4:8080/manager//text</tomcat.deploy.url>
				<tomcat.deploy.username>admin</tomcat.deploy.username>
				<tomcat.deploy.password>MdIx6460064600</tomcat.deploy.password>
			</properties>
		</profile>

		<profile>
			<id>MDIXReferralSandbox</id>
			<properties>
				<tomcat.deploy.url>http://34.196.18.237:8080/manager/text</tomcat.deploy.url>
				<tomcat.deploy.username>admin</tomcat.deploy.username>
				<tomcat.deploy.password>ken4449@123AA</tomcat.deploy.password>
			</properties>
		</profile>

		<profile>
			<id>MDMIDevelopment</id>
			<properties>
				<tomcat.deploy.url>http://localhost:8080/manager/text</tomcat.deploy.url>
				<tomcat.deploy.username>admin</tomcat.deploy.username>
				<tomcat.deploy.password>admin</tomcat.deploy.password>

				<riverside.connectionString>jdbc:mysql://referentindex.c0b4at8xfg9n.us-east-1.rds.amazonaws.com/riversidev2test?user=Administrator&amp;password=KEN111lord</riverside.connectionString>
			</properties>
		</profile>

		<profile>
			<id>MDMIProduction</id>
			<properties>
				<tomcat.deploy.url>http://35.169.86.146:8080/manager/text</tomcat.deploy.url>
				<tomcat.deploy.username>remoteadmin</tomcat.deploy.username>
				<tomcat.deploy.password>1success1</tomcat.deploy.password>
				<postgresql.user>merrylord</postgresql.user>
				<postgresql.password>y5FwAJdkgnjRj5qkUkTYxw==</postgresql.password>
			</properties>
		</profile>
	</profiles>

	<pluginGroups>
		<pluginGroup>org.codehaus.cargo</pluginGroup>
	</pluginGroups>

	<servers>
		<server>
			<id>nightly</id>
			<username>seanmuir</username>
			<password>RoyalDansk2014</password>
			<filePermissions>664</filePermissions>
			<directoryPermissions>775</directoryPermissions>
			<configuration></configuration>
		</server>
		<server>
			<id>org.openhealthtools.mdht.artifactory</id>
			<username>admin</username>
			<password>1997US@pen</password>
		</server>
		<server>
			<id>cdatools.com</id>
			<username>admin</username>
			<password>1997US@pen</password>
		</server>
		<server>
			<id>devsoap.sitenv.org</id>
			<username>admin</username>
			<password>mdhtRocks!</password>
		</server>
		<server>
			<id>local.nexus</id>
			<username>deployment</username>
			<password>deployment123</password>
		</server>
		<server>
			<id>remote.nexus</id>
			<username>deployment</username>
			<password>Be@ch2@!5</password>
		</server>
		<server>
			<id>update-site</id>
			<username>seanmuir,mdmi</username>
			<password>Lancers2@!6</password>
		</server>
		<server>
			<id>TomcatServer</id>
			<username>admin</username>
			<password>admin</password>
		</server>
		<server>
			<id>mytomcat</id>
			<username>test</username>
			<password>test</password>
		</server>
		<server>
			<id>mdix</id>
			<username>admin</username>
			<password>JLHootieAndTheBlowFish2@19</password>
		</server>
	</servers>

<mirror>
  <id>maven-default-http-blocker</id>
  <mirrorOf>external:http:*</mirrorOf>
  <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
  <url>http://0.0.0.0/</url>
  <blocked>true</blocked>
</mirror>



</settings>

